[submodule "payux"]
	path = payux
	url = https://github.com/mattian7741/payux
[submodule "finux"]
	path = finux
	url = https://github.com/mattian7741/finux
[submodule "findb"]
	path = findb
	url = https://github.com/mattian7741/findb
